@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ===== Global style start ====== */
*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", monospace;
  font-size: 16px;
}

a,
li {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* ===== navbar style start ====== */

header {
  /* margin: 1rem; */
  width: 100%;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 2rem;

}

button.hamburger {
  display: none;
}

.mainMenu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
}

.brand p {
  font-size: 20px;
  font-weight: 700;
  color: tomato;
}

.brand span {
  font-weight: 500;
  color: rgb(8, 56, 146);
}

.mainMenu a {
  color: rgb(8, 56, 146);
  font-weight: 500;
  font-size: 1.5rem;
  /* background-color: tomato; */
}

.mainMenu ul li {
  width: 8rem;
  text-align: center;
}

.mainMenu a:hover {
  background-color: tomato;
  padding: 6px 14px;
  color: white;
  border-radius: 20px;
}

.mainMenu a:active {
  background-color: lightblue;
}

.rightMenu .btn {
  background-color: tomato;
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
}

.rightMenu .btn:hover {
  background-color: transparent;
  color: tomato;
  border: 1px solid tomato;
}

.rightMenu i {
  height: 16px;
  width: 16px;
  margin: 4px;
}

.hero {
  display: flex;
  justify-content: space-around;
  /* height: 500px; */
  /* background-color: lightblue; */
  text-align: center;
  border-radius: 20px;
  margin: 4rem;
  gap: 4rem;
}

.cta {
  display: flex;
  justify-content: center;
  width: 32rem;
  height: 32rem;
  background-color: turquoise;
}

model-viewer {
  /* margin: -100px 0; */
  overflow-x: hidden;
  width: 32rem;
  height: 32rem;
  z-index: 0;
}

.heroDetail {
  margin: auto;
}

.hero .heroDetail h1 {
  font-size: 4rem;
  text-align: start;
  line-height: 0.9;
  letter-spacing: -3px;
  color: rgb(8, 56, 146);
  margin-bottom: 2rem;
}

.hero .heroDetail h2 {
  font-size: 3rem;
  text-align: start;
  line-height: 1;
  letter-spacing: 0.2rem;
  color: tomato;
  margin-bottom: 2rem;
  /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: tomato; */
}

.heroDetail p {
  font-family: "lora";
  font-size: 1.7rem;
  font-weight: 500;
  text-align: start;
  margin-bottom: 2rem;
}

.heroDetail .btn {
  display: block;
  text-align: start;
  margin-top: 4rem;
}

.heroDetail a {
  background-color: tomato;
  padding: 1rem 2.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 30px;
}

.heroDetail a:hover {
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}

.heroStats {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  /* background-color: rgb(8, 56, 146); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.heroStats span {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: tomato;
}

.heroStats .stat {
  text-align: center;
}

.heroStats p {
  vertical-align: middle;
  font-family: "Lora";
  font-size: 1.5rem;
}

/* ==== Our Product Style Start ==== */
.ourProducts {
  margin: 4rem 0;
  padding: 1.5rem 0;
  background-color: tomato;
  border-radius: 10px;
}

.ourProducts h2 {
  margin: 2rem 3rem;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

.ourProducts .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.card {
  padding: 1rem;
  margin: 0 1rem;
  width: 450px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2),
    10px 10px 15px -3px rgba(0, 0, 0, 0.2),
    -10px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.card .prodImage {
  position: relative;
}

.card img {
  width: 450px;
  height: 450px;
  margin: 10px;
  position: absolute;
  left: 0px;
  top: 130px;

}

.prodDescription {
  margin: 0 10px;
}

.descHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.prodDescription .descHeader a:hover::after {
  content: attr(data-title);
  background-color:white;
  color: tomato;
  position: absolute;
  display: block;
  text-align: center;
  z-index: 2;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid tomato;
  width: 100px;
  bottom: 100%;
}


.prodDescription .descHeader h5 {
  font-size: 2.5rem;
  color: rgb(8, 56, 146);
}

.prodDescription .descHeader i {
  font-size: 1.8rem;
}

.prodDescription .descHeader i:hover {
  color: tomato;
}

.prodDescription .descDetail p {
  font-size: 1.3rem;
  font-family: 'Lora';
  font-weight: 500;
}

/* ==== Our Product Style end ==== */

/* ==== More Detail Style Start */

#modal {
  display: none;
}

.moreDetailwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreDetail .moreDetailImage {
  background-color: tomato;
  height: 250px;
  border-radius: 20px;
}

.moreDetail .moreDetailImage img {
  width: 500px;
  height: 500px;
  position: relative;
  left: 0;
  top: -50%;
}

.moreDetailDesc {
  border: 1px solid tomato;
  border-radius: 20px;
  padding: 1rem 2rem 1rem 4rem;
  margin: auto -2rem;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.moreDetailDesc h5 {
  font-size: 3rem;
  color: rgb(8, 56, 146);
  text-align: center;
}

.moreDetailDesc p{
  font-size: 1.5rem;
  /* line-height: 1.2; */
  margin: 1rem 0;
  text-align: center;
}

.moreDetailDesc button {
  padding: 8px 16px;
  background-color: tomato;
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
}

.moreDetailDesc i {
  font-size: 1.5rem;
  margin: .5rem;
}

.moreDetailDesc button:hover {
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}






/* ==== More Detail Style End */


/* ==== About Us Start ==== */

section.aboutUs {
  margin: 8rem 0;
  padding: 1.5rem 0;
}

.aboutUs .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2rem;
}

.aboutUs .aboutText {
  width: 40%;
}

.aboutUs h2 {
  margin: 2rem 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(8, 56, 146);
}

.aboutText .aboutDetail .air {
  color: tomato;
  font-size: 3rem;
  font-weight: 700;
}

.aboutText .aboutDetail .shoes {
  color: rgb(8, 56, 146);
  font-size: 3rem;
  font-weight: 400;
}

.aboutUs .aboutDetail {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 3rem;
  line-height: 1.2;
}

.aboutUs .aboutImage img {
  width: 600px;
  height: 600px;
}

/* ==== About Us End ==== */

/* ==== Footer Start ==== */
footer {
  text-align: center;
  background-color: tomato;
  margin: 4rem 0;
  padding: 1.5rem 0;
  color: white;
  border-radius: 10px;
}

footer h5 {
  font-weight: 500;
  font-size: 1.2rem;
}
/* ==== Footer End ==== */


/* Responsive Style Start */

@media screen and (max-width:700px){
  /* Navbar Start */

  header {
    z-index: 1;
  }

  button.hamburger {
    display: flex;
  }
  
  .mainMenu ul {
    position: absolute;
    right: 0;
    top: 100px;
    height: 100vh;
    width: 80%;
    z-index: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    background-color: tomato;
    padding: 2rem;
    transform: translateX(100%);
    transition: all .5s ;
  }

  .mainMenu ul.is-active {
    transform: translateX(0%);
  }

  .mainMenu a {
    color: white;
  }

  .mainMenu a:hover {
    background-color: white;
    border: 1px solid tomato;
    color: tomato;    
  }

  .rightMenu {
    position: absolute;
    right: 7rem;
  }
  /* Navbar End */

}

/* Responsive Style End */